* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    color: #666666;
    width: 300px;
    margin: auto;
}

.btn button{
    cursor: pointer;
    background-color: #7FFFD4;
    border: none; /* Иначе оставались границы */
    margin: 5px;
  }

.btn button:hover {
    color: #9555af;
    background-color: rgb(253, 188, 188);
 }

.header {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin: 8% 0px;
}

.door {
    width: 90px;
    height: 200px;
}

#explain, #start {
    width: 290px;
    height: 25px;
}

.result {
    text-align: right;
    margin-right: 180px;
}